	body
	{
	background-color: #818181;
	margin: 0px;
	font-family: Verdana, Georgia, Seriff;
	font-size: 14px;
	}


	/*========================================layout=========================================*/
	#navbar
	{
		background-color: #FB991B;
		margin: 10px;
		height: 90px;
		border-radius:20px;

	}
	#navbar ul
	{
		list-style-type: none;
		border-radius: 20px;
		height: 90px;
		margin-top:10px;
		font-weight: bold;
		font-size: 20px;



	}
	#navbar ul li 
	{
		display: inline;

	}


	#navbar ul li a
	{
		text-decoration: none;
		font-family: Arial;
		color: #B27E05;
		background-color: #FB991B;
		border-radius: 20px;
		margin: 10px;
		padding: 30px;
		display: inline-block;
		text-align: center;
		letter-spacing: 0.5px;
		margin-top:2.5px;

	}


	#navbar ul li a:hover
	{
		color:#FB991B;
		background-color: #B27E05;

	}

		.search-form{
  margin-top:-95px;
  margin-right:-200px;
  float: right;
 
}
input[type=text]{
  padding: 7px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 15px;

}
button{
  float: right;
  background:#6CBA0F;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  padding: 7px;
  font-family: sans-serif;
  border: none;
  font-size: 16px;
  margin-right: 226px;
  margin-top: 15px;
}


	.main
	{
		background-color: #F3EE80;
		margin-left: 10px;
		margin-right: 320px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius:20px;
		padding: 20px;
		font-size: 110%;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-gap: 1em;
		justify-content: center;
		text-align: center;


	}
	.main3
	{
		background-color: #F3EE80;
		margin-left: 10px;
		margin-right: 320px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius:20px;
		padding: 20px;
		font-size: 110%;
		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-gap: 1em;
		justify-content: center;
		text-align: center;


	}


	.main2
	{
		background-color: #F3EE80;
		margin-left: 10px;
		margin-right: 320px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius:20px;
		padding: 20px;
		font-size: 110%;
		justify-content: center;
	}
	.kep
	{
		display: grid;
		height: 100%;
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px;
	}
	.kep-elem
	{
		background-color: #F3EE80;
		justify-content: center;
		align-items: center;
	
	
			&.kozepes
			{
			grid-row: span 2;
			grid-column: span 2;
			}

			&.nagy
			{
			grid-row: span 3;
			grid-column: span 3;	
			}

			&.kicsi
			{
			grid-row: span 1;
			grid-column: span 1;
			}
	}




	#footer
	{
		background-color: #FB991B;
		margin: 10px;
		height: 60px;
		clear: both;
		border-radius: 20px;
		color: #000;
		text-align: center;
		padding: 15px;
		font-size: 90%;

	}


	.nyilatkozat{
		font-size: 15px;
		font-weight: bold;
		
		background-color: #F3EE80;
		margin: 10px;
		border-radius:20px;
		padding: 20px;
		

	}

	.sideright
	{
		background-color: #F3EE80;
		margin-left:10px;
		margin-right: 10px;
		margin-top:0px;
		margin-bottom: 10px;
			border-radius:20px;
		padding: 20px;
		font-size: 110%;
		width: 260px;
		float: right;

	}


	.imagesidebar
	{

	
		margin-left:10px;
		margin-right: 10px;
		margin-top:0px;
		margin-bottom: 10px;
		border-radius: 20px;
		font-size: 110%;
		float: right;
		width:300px;
		clear: right;
		opacity:1,0;
		transition: opacity 0.4s ease-in-out;
	}


	.imagesidebar:hover
	{
		opacity: 0.5;
	}

	img
	{
		max-height: 100%;
		max-width:100%;
		float: left;
		border-radius: 20px;
	}
	.telefonimg
	{
		max-height: 100%;
		max-width:100%;
		float: center;
	}

/*=========================================headings===========================================*/

	h1
	{
		font-size: 30px;
		color:blue;
		font-family: Algerian,Verdana, Georgia, Seriff;
	}
	h2
	{
		font-size: 22px;
		color: green;
		font-style: italic;
		font-weight: lighter;
		font-family: NewRoman, Seriff;
	
	}
	p.nyilatkozat
	{
		color: red;
		font-style: italic;

	}
	p.cim{
		color: green;
		font-size: 20px;
		font-style: italic;
		font-family: Verdana,Seriff;
}
	ul.egyik{
		list-style-type: none;
		font-weight: lighter;
	}